.App {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F5F0BB;
  height: 100vh;
}

.wordgrid {
  border-spacing: 5px;
}

.wordgrid td {
  border: 2px dashed #444;
  border-radius: 6px;
  height: 56px;
  width: 56px;
  text-align: center;
  font-size: 32px;
  transition: font-size 0.1s, background-color 0.2s;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.2);
}

.wordgrid .cell-filled {
  font-size: 28px;
  border: 2px solid #555;
  /* background-color: #C4DFAA; */
}

.wordgrid .cell-1 {
  background-color: #5fc464;
}

.wordgrid .cell-0 {
  background-color: rgb(243, 234, 193);
}

.wordgrid .cell-2 {
  background-color: #ffe866;
}

.keyboard {
  display: flex;
  flex-direction: column;
  width: 600px;
  font-size: 24px;
}

.keyboard-row {
  display: flex;
  justify-content: space-between;
  margin-top: 3px;
  margin-bottom: 3px;
}

.key {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 6px;
  background: none;
  background-color: #73A9AD;
  margin-left: 3px;
  margin-right: 3px;
  padding: 8px 12px;
  color: white;
  cursor: pointer;
  transition: background-color 0.1s, color 0.1s;
}

.key>span {
  pointer-events: none;
}

.key.key-A,
.key.key-E,
.key.key-I,
.key.key-O,
.key.key-U {
  background-color: #90C8AC;
}

.key.key-Y {
  background: repeating-linear-gradient(-45deg,
      #90C8AC,
      #90C8AC 5px,
      #73A9AD 5px,
      #73A9AD 9px)
}

.key.key-BACKSPACE span {
  display: none;
}

.key.key-BACKSPACE::after {
  content: '⌫';
}

.key.key-ENTER, .key.key-BACKSPACE {
  background-color: aliceblue;
  color: #333;
}

.key.key-ENTER span {
  display: none;
}

.key.key-ENTER::after {
  content: 'Enter';
}


.key.key-active, .key:active {
  background: none;
  background-color: #efefef;
  color: #555;
}

.prevent-select {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.backdrop {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.2);
}

.backdrop.open {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  width: 100%;
  height: 50%;
  max-width: 480px;
  background-color: beige;
  border-radius: 8px;
  pointer-events: all;
  padding: 12px;
}

.modal-content {
  font-size: 28px;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.modal-content>div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.modal-content img {
  width: 100%;
  border-radius: 8px;
}

.modal .close-icon {
  position: absolute;
  right: 8px;
}

.close-icon>* {
  pointer-events: none;
}

.wordgrid-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.alert {
  position: absolute;
  background-color: #fff;
  padding: 8px;
  border: 2px solid plum;
  border-radius: 6px;
  font-size: 22px;
  opacity: 0;
  pointer-events: none;
}

.alert.shown {
  opacity: 1;
  animation: fadeout 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}